
  <div class="card mb-3">
    <h5 class="card-header">
      Pending friendship invitations: <%= all_requests %>
    </h5>
    <% current_user.friend_requests.each do |request| %>
      <div class="card-body">
        <h6 class="card-title fw-bold">Requested from:</h6>
        <p class="card-text"><%= request.name %> &bull; <%= request.email %></p>
        <%= link_to 'Accept Request', users_path(user, friend_id: request.id, confirm: true), class: "btn btn-info" %>
        <%= link_to 'Reject Request', users_path(user, friend_id: request.id, confirm: false), class: "btn btn-warning" %>
      </div>
    <% end %>
  </div>

  <div class="card">
    <h5 class="card-header">
      My Friends: <%= all_friends %>
    </h5>
    <% current_user.friends.each do |friend| %>
      <div class="card-body">
        <h6 class="card-title fw-bold">Name</h6>
        <p class="card-text"><%= friend.name %></p>
      </div>
    <% end %>
  </div>
