<li>
  Name: <%= user.name %>
  <span class="profile-link">
    &nbsp;
    <%= link_to 'See Profile', user_path(user), class: 'profile-link' %>

    <% if a_requested(user) %>
      &nbsp;|&nbsp; <%= link_to 'Accept friend request',  '#', class: 'profile-link' %>
      &nbsp;|&nbsp; <%= link_to 'Reject friend request',  '#', class: 'profile-link' %>
    <% elsif who_to_add(user) && not_pending(user) %>
      &nbsp;|&nbsp; <%= link_to 'Invite to friendship',  users_path(user, friend_id: user.id), class: 'profile-link' %>
    <% end %>
  </span>
</li>