<section class="user-section">
  <h2>
    <%= gravatar_for @user %>
    <%= "Name: #{@user.name}" %>
  </h2>

  <%= show_friendship_actions(@user) %>

  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>

  <%= a_whole_new_method_plus_a_parcial_instead_of_a_single_line_if(@user) %>

</section>
